# vim: ft=yaml
#
# Set default values.
---
values:
  lookup:
    pkg:
      name: homebrew/cask/santa
      manager: brew
    paths:
      confdir: ''
      conffile: ''
    rootgroup: {{ salt['cmd.run']("stat -f '%Sg' /dev/console") }}
...
